header{
    font-family:cursive;
    font-size: x-large;
    text-shadow: 1px 5px 8px blue
}
body{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/573/456/869/beautiful-earth-planet-asteroid-comet-2560%C3%971920-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
header{
    
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    width: 100%;
}
h3{
    color: white;
    background-color: black;
    width: 30%;
}
p{
    color: white;
    font-size: larger;
    background-color: rgb(0, 0, 0,0.3);
}
footer{
    background-color: black;
    color: beige;
    width: 100%;
    height: 65px;
    text-align: center;
}
svg{
    width: 30px;
    background-color: rgb(255, 255, 255,0.3);
}
#insta{
    background-color: white;
    width: 2%;
    float: left;
    margin-top: 38px;
}
#fb{
    background-color: white;
    width: 2%;
    float: right;
    margin-top: 38px;
}